<div class="row">
  <h1><%= @artist.name %></h1>
</div>
<div class="row my-2">
  <div class="col-3">
    <%= render partial: 'artists/artist_related', locals: { artist: @artist } %>
  </div>
  <div class="col-8 offset-1">
    <%= render partial: 'artists/artist_statistics', locals: { artist: @artist, classes: 'mb-3' } %>
    <h6>Mashups</h6>
    <div class="row">
      <% @artist_mashups.each do |mashup| %>
        <div class="col-6 my-2">
          <%= render partial: 'mashups/mashup_card', locals: { mashup: mashup } %>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= will_paginate @artist_mashups, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, param_name: 'mashups_page' %>
    </div>
  </div>
</div>
