<div class="row justify-content-between p-2">
  <div class="col-5">
    <p class="h1">Mashups</p>
  </div>
  <div class="col-5 offset-1 pt-2">
    <%= form_with url: mashups_path, method: :get, local: true, class: 'input-group' do |f| %>
      <%= f.text_field :search, value: params[:search], class: 'form-control', placeholder: 'Mashup name' %>
      <div class="input-group-append">
        <%= button_tag class: 'btn btn-outline-secondary', name: nil do %>
          <%= fa_icon('search') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="card-columns my-2">
  <% @mashups.each do |mashup| %>
    <div class="card p-3">
      <%= link_to mashup.name, mashup %>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <%= will_paginate @mashups, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
