<!DOCTYPE html>
<html>
  <head>
    <title>MashupDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_pack_path('media/images/logo-inv.png') %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'stylesheet', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: 'application/alerts/list' %>
      <%= yield %>
    </div>
    <%= console if Rails.env.development? %>
  </body>
</html>
